In [1]:
1.reading

SyntaxError: invalid syntax (<ipython-input-1-f4e045159831>, line 1)

In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv('titanic.csv')
df.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

check if pclass is 3 and print it

In [3]:
df['pclass']=3
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  pclass
0        0         A/5 21171   7.2500   NaN        S       3
1        0          PC 17599  71.2833   C85        C       3
2        0  STON/O2. 3101282   7.9250   NaN        S       3
3        0            113803  53.1000  C123        S       3
4        0            373450   8.0500   NaN        S       3
..     ...               ...      ...   ...      ...     ...
886      0            211536  13.0000   NaN        S       3
887      0            112053  30.0000   B42        S       3
888      2        W./C. 6607  23.4500   NaN        S       3
889      0            111369  30.0000  C148        C       3
890      0            370376   7.7500   NaN        Q       3

[891 rows x 13 columns]

storing in a new df

In [4]:
df1 =df[df['pclass']]

#save in new csv file
df1.to_csv('new_file.csv')

KeyError: "None of [Int64Index([3, 3, 3, 3, 3, 3, 3, 3, 3, 3,\n            ...\n            3, 3, 3, 3, 3, 3, 3, 3, 3, 3],\n           dtype='int64', length=891)] are in the [columns]"